body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {text-align: center;}

p.intro {
    max-width: 800px;
    margin: 2em auto;   
}

p {
    line-height: 1.4em;
}

section {
    width: 900px;
    background-color: #efefef;
    margin: auto;
    padding: 20px;
    min-height: 600px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

section p {
    margin: 0;
    box-sizing: border-box;
    background-color:azure;
    padding: 10px;
    flex: 1;
}