
/* Put example 1 CSS here */
#ex1 {
    /* add declarations here */
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    background-color: red; 
    transition: width 2s;
}

#ex1:hover {
    /* add declarations here */
    width: 500px;
    transition: width 2s;  
}

/* Put example 2 CSS here */
#ex2 {
    /* add declarations here */
    font-size: 24 px;
    font-weight: normal;
    letter-spacing: normal;
    color: skyblue;
    transition: all 2s
}

#ex2:hover {
    /* add declarations here */
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    color: tomato;
    transition: all 2s
}

/* Put example 3 CSS here */
#ex3 {
    background-color:lightgray;
    padding: 20px;
}

#ex3 div {
    background-color: mediumaquamarine;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    /* Add transition declarations here */
    transition-property: width;
    transition-duration: 3s;
}

#ex3 div:hover {
    width: 600px;
    cursor: pointer;
}

#ex3a {/* Add transition timing function declaration here */
transition-timing-function: linear;
}
#ex3b {/* Add transition timing function declaration here */
    transition-timing-function: ease;}
#ex3c {/* Add transition timing function declaration here */
    transition-timing-function: ease-in;
}
#ex3d {/* Add transition timing function declaration here */
    transition-timing-function: ease-out;
}
#ex3e {/* Add transition timing function declaration here */
    transition-timing-function: ease-in-out;
}

#ex3f {/* Add transition timing function declaration here */
    transition-timing-function: cubic-bezier(0.610,0.185,0.440,1.650);
}

/* Put example 4 CSS here */

#ex4 {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #4068b2;
    border: 5px solid black;
    border-radius: 0px;
    /* Add transition declarations here */
    transition: border 1s ease, border-radius 2s ease;
}

#ex4:hover {
    background-color: #ab0e0e;
    border: 10px solid #7123ee;
    border-radius: 20px;
}
