body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {text-align: center;}

p.intro {
    max-width: 800px;
    margin: 2em auto;
    line-height: 1.4em;
}

#parent {
    width: 900px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
    gap: 30px;
}

.col {
    flex: 1;
}