body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {text-align: center;}

p.intro {
    max-width: 800px;
    margin: 2em auto;   
}

p {
    line-height: 1.4em;
}

header {
    width: 900px;
    background-color: #cfc477;
    margin: 0 auto 50px auto;
    padding: 20px;
}

section {
    width: 940px;
    margin: auto;
    text-align: center;
}
.container{
    display: flex;
    gap: 40px;
}

h2 {
    font-size: 2em;
    margin: 50px 0;
    color:#611567;
}

article {
    text-align: center;
    flex: 1;
}

.icon {
    display: block;
    margin: auto;
    height: 75px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #934799;
}