@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(type/RobotoSerif.woff2) format('woff2');
}

body {
    max-width: 800px;
    color: #3d3d3d;
    line-height: 1.5em;
    margin: auto;
}

h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 375;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
p{
    font-family: 'Roboto Serif';
    font-weight: 176.52;
    font-variation-settings: "wdth" 89.72, "opsz" 20, "GRAD" 0;
}