body{
    font-family: Georgia;
    background-color: aliceblue;
    background: rgb(188,111,135);
    background: linear-gradient(90deg, rgba(188,111,135,1) 0%, rgba(255,255,240,1) 30%, rgba(255,255,240,1) 50%, rgba(255,255,240,1) 70%, rgba(69,78,62,1) 100%);
}
article{
    width:700px;
    margin:auto;
    padding: 20px;
    background-color: #fffff0; 
    font-family: Georgia;
    color: rgb(2, 52, 0);
}
h1{
    text-align: center;
    font-size: 2.25em;
}
h2{
    font-weight: italic;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: rgb(2, 52, 0);
}
p{
    color: black;
}
blockquote{
    font-weight: bolder;
    color: rgb(2, 52, 0);
}
.BIBLIOGRAPHY{
    font-weight: italic;
    font-size: 1.25em;
    color: rgb(2, 52, 0);
    padding-bottom: 0px;
}
ul li{
    color: black;
}
ul li a{
    color: rgb(0, 0, 0);   
}
ul li a:hover{
    color: rgb(4, 97, 0);
}
footer{
    font-family: 'Times New Roman';
    padding: 10px;
    background-color: #fffff0;
}