body {
    font-family: Arial;
    color: #333;
    background-color: #efefef;
}

#container {
    width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    
}

main p {
    margin: 0;
    padding: 10px;
    border: 2px solid #8b0b0b;
}

main {
    /* Set Grid Here! */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}